.app {
    height: auto;


    
}

.thread-nav {
    height: auto;
}

.content-window {
    height: auto;
}

.content-window-logged {
    height: auto;
}

.content-window-landing {
    height: 100vh;
}

.nav-divider {
    border: #0d6efd solid 1px;
    height: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-img {
    object-fit: cover;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.logo-margin-bottom {
    @media (max-width: 576px) {
        margin-bottom: 1rem;
    }
}

.nav-margins {
    @media (max-width: 576px) {
        margin-bottom: 0.5rem;
    }
}

.browse-button {
    justify-content: start;

    @media (max-width: 576px) {
        justify-content: center;
        width: 100%;
        
    }
}

.logout-button {
    justify-content: start;

    @media (max-width: 576px) {
        margin-top: 2rem;
        justify-content: center;
        width: 80%;
    }
}

.mobile-font {
    @media (max-width: 576px) {
        font-size: 1rem;
    }
}