.app {
    height: auto;
    
}

.thread-nav {
    height: auto;
}

.content-window {
    height: auto;
}

.content-window-logged {
    height: auto;
}

.content-window-landing {
    height: 100vh;
}

.nav-divider {
    border: #0d6efd solid 1px;
    height: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-img {
    object-fit: cover;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}